

<div class="sidebar">
    <div class="menu-title">Atracciones</div>
    <ul class="menu-items">   
        
      <li><a [routerLink]="['/clientes']">Ver Reservaciones</a></li>
      <li><a [routerLink]="['/cuenta']">Reservar</a></li>
        <li><a href="#">Modificar</a></li>
        <li><a href="#">Cancelar</a></li>
        <!-- <app-cliente></app-cliente>
        <app-cuenta></app-cuenta>  -->
    </ul>
    <div class="menu-title">Evento</div>
    <ul class="menu-items">
        <li><a href="#">Reservar</a></li>
        <li><a href="#">Modificar</a></li>
        <li><a href="#">Cancelar</a></li>
    </ul>

    <div class="logout">
        <a href="#">Cerrar sesión</a>
    </div>
</div>