@import '../../../styles.scss'; 

body {
    font-family: Arial, sans-serif;
    background-color: #090e27;
    margin: 0;
    padding: 0;
    
  }
  
  //portafolio

#portafolio {
 .cont{
    padding: 8%;
    height: 65vh;
  h2{
    font-size: 40px;
    color: rgb(206, 149, 42);
  }
  h1{
    font-size: 45px;
    color: white;
  } 
  .items{
    display: flex;
        height: 76%;
        justify-content: space-around;
        gap: 83px;
    .item{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .img{
        background: url('../../../assets/img/muro.png') no-repeat;
        width: 100%;
        height: 100%;
        border-radius: 36px;
      }
      .img2{
        background: url('../../../assets/img/tobogan.png') no-repeat;
        width: 100%;
        height: 100%;
        border-radius: 36px;
      }
      .img3{
        background: url('../../../assets/img/pelotas.png') no-repeat;
        width: 100%;
        height: 100%;
        border-radius: 36px;
      }
      p{
        color: white;
        font-size: 25px;
      }
    }
   
  }
 }
}
 