
<div class="sidebar">
  <div class="menu-title">Atracciones</div>
  <ul class="menu-items">   
      
    <li><a [routerLink]="['/clientes']">Cliente</a></li>
    <li><a [routerLink]="['/cuenta']">Reservacion</a></li>
      <li><a href="#">Modificar</a></li>
      <li><a href="#">Cancelar</a></li>
      <!-- <app-cliente></app-cliente>
      <app-cuenta></app-cuenta>  -->
  </ul>

  <div class="menu-title">Evento</div>
  <ul class="menu-items">
      <li><a href="#">Reservar</a></li>
      <li><a href="#">Modificar</a></li>
      <li><a href="#">Cancelar</a></li>
  </ul>

  <div class="logout">
      <a href="#">Cerrar sesión</a>
  </div>
</div>
  
  <div class="content">
    <!-- Contenido de la página -->
    <div class="container">
  <div class="title"> 
    <h1> Registrar tu Reservacion</h1>
  </div>
      <form class="user-form" (submit)="agregarUsuario()">
        <div class="form-group">
          <label for="nombre">Cuantos Integrates son </label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoUsuario.nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido">Atraccion que desea</label>
          <input type="text" id="apellido" name="apellido" [(ngModel)]="nuevoUsuario.apellido" required>
        </div>
        <div class="form-group">
          <label for="correo">Fecha de reservacion </label>
          <input type="text" id="correo" name="correo" [(ngModel)]="nuevoUsuario.correo" required>
        </div>
        <div class="form-group">
          <label for="telefono">la Hora de reservacion:</label>
          <input type="text" id="hora" name="telefono" [(ngModel)]="nuevoUsuario.telefono" required>
        </div>
        <div class="items-button">
          <button type="submit">Enviar</button>
               <button type="reset">Cancelar</button>
               </div>
      </form>
      @if (usercreate) {
        <div style="color: white; font-size: 24px;"> Se ha creado el Usuario Correctamente</div>
      }
    </div>
  </div>

