

<div class="dashboard">
  <div class="sidebar">
    <div class="logo">Api</div>
    <ul class="menu">
      <div class="menu-item">
        <a class="lista" [routerLink]="['/clientes']" routerLinkActive="active">Ver Lista de Usuarios Registrados</a>
      </div>
    </ul>
  </div>
  <div class="content">
    <!-- Contenido de la página -->
    <h1>Contenido</h1>
    <p>Bienvenido al dashboard</p>

    <div class="container">
      
    
      <form class="user-form" (submit)="agregarUsuario()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoUsuario.nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" [(ngModel)]="nuevoUsuario.apellido" required>
        </div>
        <div class="form-group">
          <label for="correo">Correo electrónico:</label>
          <input type="email" id="correo" name="correo" [(ngModel)]="nuevoUsuario.correo" required>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="tel" id="telefono" name="telefono" [(ngModel)]="nuevoUsuario.telefono" required>
        </div>
        <button type="submit">Enviar</button>
      </form>
      @if (usercreate) {
        <div> Se ha creado el Usuario Correctamente</div>
      }
    </div>
  </div>
</div>
