

<div class="sidebar">
  <div class="menu-title">Atracciones</div>
  <ul class="menu-items">   
      
    <li><a [routerLink]="['/clientes']">Cliente</a></li>
    <li><a [routerLink]="['/cuenta']">Cuenta</a></li>
      <li><a href="#">Modificar</a></li>
      <li><a href="#">Cancelar</a></li>
      <!-- <app-cliente></app-cliente>
      <app-cuenta></app-cuenta>  -->
  </ul>

  <div class="menu-title">Evento</div>
  <ul class="menu-items">
      <li><a href="#">Reservar</a></li>
      <li><a href="#">Modificar</a></li>
      <li><a href="#">Cancelar</a></li>
  </ul>

  <div class="logout">
      <a href="#">Cerrar sesión</a>
  </div>
</div>
  

<div class="content">
  <!-- Contenido de la página -->
 
  <div class="container">
<div class="user"> Aqui encontraras  la lista de los clientes Registrados</div>
<table id="table">
 <thead class="thead-light">
   <tr>
     <th>Nombre</th>
     <th>correo</th>
   </tr>
 </thead>
 <tbody class="data">
   <!-- Utiliza ngFor para iterar sobre la lista de usuarios y mostrar la información en cada fila -->
   <tr *ngFor="let usuario of cuentas$ | async; let i = index">
     <td>{{ usuario.nombre }}</td>
     <td>{{ usuario.correo }}</td>
     <button type="button" class="buttom" (click)="eliminarUsuario(usuario.idCliente)"> Eliminar </button>
   </tr>
 </tbody>
</table>
 
  </div>
</div>
